@model dynamic
<select name="@Model.NameLanguageId" id="btn-choose-language" class="form-select" data-type="@Model.InputType">
    <option value="0">CHỌN NGÔN NGỮ</option>
    @foreach (var language in Model.Languages)
    {
        if (Model.SelectedLanguageId == language.Id)
        {
            <option value="@language.Id" selected>@language.Name</option>
        }
        else
        {
            <option value="@language.Id">@language.Name</option>
        }
    }
</select>