@model dynamic
@{
    int index = Model.count - 1;
}
<div class="term-item mb-3 border-0 rounded-3 py-2 px-4">
    <div class="row align-items-center">
        <div class="col border-bottom">
            <div class="col mb-2 d-flex align-items-center justify-content-between">
                <span class="text-secondary fw-bold fs-6 term-item-count">@Model.count</span>
                <button type="button" class="btn btn-trash ms-auto">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
        </div>
        <div class="row my-3 term-def-input-row">
            <div class="col-5 pt-3">
                <input type="text" class="custom-input term-defi-input" name="Flashcards[@index].Term" value="@Model.termValue">
                <div class="d-flex align-items-center justify-content-between mt-2">
                    <span class="fw-bold text-secondary" style="font-size: 10px;">THUẬT NGỮ</span>
                    <select name="Flashcards[@index].TermLanguageId" id="btn-choose-language" class="form-select" data-type="term">
                        <option value="0">CHỌN NGÔN NGỮ</option>
                        @foreach (var language in ViewBag.Languages)
                        {
                            if (Model.termLanguageId == language.Id)
                            {
                                <option value="@language.Id" selected>@language.Name</option>
                            }
                            else
                            {
                                <option value="@language.Id">@language.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-5 pt-3">
                <input type="text" class="custom-input term-defi-input" name="Flashcards[@index].Definition" value="@Model.defiValue">
                <div class="d-flex align-items-center justify-content-between  mt-2">
                    <span class="fw-bold text-secondary" style="font-size: 10px;">ĐỊNH NGHĨA</span>
                    <select name="Flashcards[@index].DefiLanguageId" id="btn-choose-language" class="form-select" data-type="definition">
                        <option value="0">CHỌN NGÔN NGỮ</option>
                        @foreach (var language in ViewBag.Languages)
                        {
                            if (Model.termLanguageId == language.Id)
                            {
                                <option value="@language.Id" selected>@language.Name</option>
                            }
                            else
                            {
                                <option value="@language.Id">@language.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-2 text-end">
                <button type="button" class="btn-img btn btn-light bg-white">
                    <i class="icon-img fa-regular fa-image"></i><br />
                    Hình ảnh
                </button>
            </div>
        </div>
    </div>
</div>

@* @await Html.PartialAsync("ViewPartials/_MenuLanguagesPartial", new
                        {
                            InputType = "term",
                            SelectedLanguageId = Model.termLanguageId,
                            NameLanguageId = $"TermLanguageId",
                            Languages = ViewBag.Languages
                        }) *@

@* @await Html.PartialAsync("ViewPartials/_MenuLanguagesPartial", new
                        {
                            InputType = "definition",
                            SelectedLanguageId = Model.defiLanguageId,
                            NameLanguageId = $"DefiLanguageId",
                            Languages = ViewBag.Languages
                        }) *@